<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 d-md-flex align-items-center">
                        <h4 class="card-title me-2 mb-md-0 mb-3">Portfolio</h4>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex justify-content-end">
                        <div *ngIf="!pageQuery.isSearch">
                            <button *ngIf="permission.create" [attr.disabled]="loading.status ? 'disabled' : null" class="btn btn-primary" title="Create" (click)="createDialog.show(null,'/create')">
                                Create
                            </button>
                            <button title="Refresh" [attr.disabled]="loading.status ? 'disabled' : null" class="btn btn-secondary ms-1" (click)="getData()">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button title="Search" [attr.disabled]="loading.status ? 'disabled' : null" class="btn btn-secondary ms-1" (click)="pageQuery.isSearch = true">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                        <div *ngIf="pageQuery.isSearch" class="w-100">
                            <div class="input-group has-search">
                                <span class="input-group-text pt-0 pb-0 bg-white border-secondary">
                                    <i class="material-icons">search</i>
                                </span>
                                <input type="search" [appAutoFocus]="true" [(ngModel)]="pageQuery.queryPage.q" (keyup)="pageQuery.searchData($event)" class="form-control border-start-0 ps-1 shadow-none border-secondary bg-light" placeholder="Type & Hit Enter" />
                                <button title="Search" class="btn btn-secondary" [attr.disabled]="loading.status ? 'disabled' : null" (click)="pageQuery.changeRoute({ q: '' }); pageQuery.isSearch = false">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row pt-2">
                    <div class="col-12">
                        <div class="text-center h4 p-3" *ngIf="!data?.data?.length">
                            <div *ngIf="loading.status">
                                <div class="spinner-grow" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div *ngIf="!loading.status">No data found..</div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover" *ngIf="data?.data?.length">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Name</th>
                                        <th>Section</th>
                                        <th *ngIf="permission.update">Status</th>
                                        <th>Created at</th>
                                        <th class="text-center">
                                            <i class="material-icons">more_vert</i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data?.data; let i = index">
                                        <td class="text-center">
                                            {{ data.from + i }}
                                        </td>
                                        <td>
                                            <a (click)="detailDialog.show(item)" class="text-info" style="cursor: pointer;">
                                                {{ item.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ item.section }}
                                        </td>
                                        <td *ngIf="permission.update" nowrap>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" [disabled]="loading.status || isMe(item)" type="checkbox" id="status_{{ i }}" (change)="setStatus(item)" [attr.checked]="item.status == 1 ? 'checked' : null" />
                                                <label class="form-check-label" for="status_{{ i }}">{{ item.status ? "Active" : "Inactive" }}</label>
                                            </div>
                                        </td>
                                        <td nowrap>
                                            {{ item.created_at | dateFormat : "DD MMM YYYY, HH:mm" }}
                                        </td>
                                        <td class="text-center" nowrap>
                                            <div class="d-flex nav-item justify-content-center" ngbDropdown display="dynamic" placement="bottom-right" container="body">
                                                <button  class="btn btn-sm text-primary border-primary border-1 dropdown-toggle" ngbDropdownToggle>Action</button>
                                                <ul ngbDropdownMenu>
                                                    <a class="dropdown-item btn-link d-flex align-items-center" [class.disabled]="loading.status" title="Detail" (click)="detailDialog.show(item)">
                                                        <i class="material-icons fs-5 me-3">preview</i>
                                                        Detail
                                                    </a>
                                                    <li *ngIf="permission.update">
                                                        <a class="dropdown-item btn-link d-flex align-items-center" [class.disabled]="loading.status" title="Edit" (click)="createDialog.show(item,'/update')">
                                                            <i class="material-icons fs-5 me-3">edit</i>
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li *ngIf="permission.delete">
                                                        <button [attr.disabled]="loading.status ? 'disabled' : null" class="dropdown-item btn-link d-flex align-items-center" title="Delete" (click)="deleteDialog.show([item.id])">
                                                            <i class="material-icons fs-5 me-3">delete</i>
                                                            Delete
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="data?.data?.length" class="d-flex justify-content-between row small">
                            <div class="col-md-2 small d-flex flex-nowrap row align-items-center">
                                <div class="col-5 d-flex align-items-center">Limit :</div>
                                <select style="height: 25px;" class="form-select form-select-sm col-6 w-50" [attr.disabled]="loading.status ? 'disabled' : null" [(ngModel)]="pageQuery.queryPage.limit" (change)="pageQuery.changeRoute({limit:pageQuery.queryPage.limit});">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="col-md-4 d-flex flex-nowrap align-items-center justify-content-center justify-content-md-end">
                                <div class="text-nowrap">
                                    Total: {{data.total || 0}}
                                </div>
                                <div class="text-nowrap">
                                    <button (click)="pageQuery.changeRoute({page:1});" class="btn btn-sm border-0 m-1 p-1" [attr.disabled]="loading.status || data.current_page===1 || !data.prev_page_url ? 'disabled' : null">
                                        <span class="material-icons">first_page</span>
                                    </button>
                                    <button (click)="pageQuery.changeRoute({page:(data.prev_page_url).split('page=')[1]});" class="btn btn-sm border-0 m-1 p-1" [attr.disabled]="loading.status || data.current_page===1 || !data.prev_page_url ? 'disabled' : null">
                                        <span class="material-icons">navigate_before</span>
                                    </button>
                                    <span>
                                        {{data.current_page || 1}}/{{data.last_page || '&infintie;'}}
                                    </span>
                                    <button (click)="pageQuery.changeRoute({page:(data.next_page_url).split('page=')[1]});" class="btn btn-sm border-0 m-1 p-1" [attr.disabled]="loading.status || !data.next_page_url || pageQuery.queryPage.page===data.last_page ? 'disabled' : null">
                                        <span class="material-icons">navigate_next</span>
                                    </button>
                                    <button (click)="pageQuery.changeRoute({page:data.last_page});" class="btn btn-sm border-0 m-1 p-1" [attr.disabled]="loading.status || !data.next_page_url || pageQuery.queryPage.page===data.last_page || !data.last_page ? 'disabled' : null">
                                        <span class="material-icons">last_page</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #createModal let-modal>
    <form #theForm="ngForm" (ngSubmit)="createDialog.submit(createDialog.formGroup)" novalidate class="col-md-12">
        <div [formGroup]="createDialog.formGroup">
    <div class="modal-header">
        <h5 class="modal-title">Create Portfolio</h5>
    </div>
    <div class="modal-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs mb-4">
            <li ngbNavItem>
                <a ngbNavLink>Image</a>
                <ng-template ngbNavContent style="height: fit-content;">
                    <input type="file" class="d-none" id="uploadImage"  accept="image/jpg,image/jpeg,image/png" (change)="uploadPhoto($event)">
                    <div class="d-flex flex-wrap justify-content-start">
                        <div *ngFor="let p of createDialog.images; index as x" >
                            <div (click)="photoDialog.show(p)" class="me-2 mb-2 rounded border position-relative" style="height: 117px; width: 117px; background-position: center; background-size: cover" [style.background-image]="'url(' + p.photo + ')'">
                                <button *ngIf="!p.loading" class="btn btn-sm btn-danger position-absolute" style="height: 25px; width: 25px; margin-top: -5px; margin-left: -5px; padding-right: 10px;" (click)="removePhoto(x,p)">
                                    <i class="material-icons">close</i>
                                </button>
                                <div *ngIf="p.loading" class="w-100 h-100 d-flex justify-content-center align-items-center" style="background: rgba(255, 255, 255, 0.5)">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="browsePhoto();" [attr.disabled]="loading.status ? 'disabled' : null" type="button" class="mb-2 btn btn-secondary" style="height: 117px; width: 110px">
                            <i class="material-icons">photo_camera</i>
                        </button>
                        <input type="file" class="d-none" id="uploadImage"  accept="image/jpg,image/jpeg,image/png" (change)="uploadPhoto($event)">
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Description</a>
                <ng-template ngbNavContent>
                        <div [formGroup]="createDialog.formGroup">
                            <div class="form-floating mb-4">
                                <input type="text" formControlName="name" [class.is-invalid]="createDialog.formGroup.get('name')?.invalid && (theForm.submitted || createDialog.formGroup.get('name')?.touched)" placeholder="..." class="form-control" required>
                                <label>Name</label>
                                <div class="text-danger position-absolute text-end w-100" *ngIf="createDialog.formGroup.get('name')?.invalid && (theForm.submitted || createDialog.formGroup.get('name')?.touched)">
                                    <small *ngIf="createDialog.formGroup.get('name')?.errors?.required">Please type name</small>
                                    <small *ngIf="createDialog.formGroup.get('name')?.errors?.serverError">{{ createDialog.formGroup.get("name")?.errors?.serverError }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mb-4 col-6">
                                    <input type="section" formControlName="section" [class.is-invalid]="createDialog.formGroup.get('section')?.invalid && (theForm.submitted || createDialog.formGroup.get('section')?.touched)" placeholder="..." class="form-control px-3" required>
                                    <label class="mx-3">Section</label>
                                    <div class="text-danger text-end w-100" *ngIf="createDialog.formGroup.get('section')?.invalid && (theForm.submitted || createDialog.formGroup.get('section')?.touched)">
                                        <small *ngIf="createDialog.formGroup.get('section')?.errors?.required">Please type section</small>
                                        <small *ngIf="createDialog.formGroup.get('section')?.errors?.serverError">{{ createDialog.formGroup.get("section")?.errors?.serverError }}</small>
                                    </div>
                                </div>
                                <div class="form-floating mb-4 col-6">
                                    <input type="number" formControlName="order" [class.is-invalid]="createDialog.formGroup.get('order')?.invalid && (theForm.submitted || createDialog.formGroup.get('order')?.touched)" placeholder="..." class="form-control px-3" required>
                                    <label class="mx-3">Order</label>
                                    <div class="text-danger text-end w-100" *ngIf="createDialog.formGroup.get('order')?.invalid && (theForm.submitted || createDialog.formGroup.get('order')?.touched)">
                                        <small *ngIf="createDialog.formGroup.get('order')?.errors?.required">Please type order</small>
                                        <small *ngIf="createDialog.formGroup.get('order')?.errors?.serverError">{{ createDialog.formGroup.get("order")?.errors?.serverError }}</small>
                                    </div>
                                </div>
                            </div>
                            <div #editorContainer class="editor-container"></div>
                            <quill-editor
                            formControlName="description"
                            [style]="{height: '200px',width:'100%'}"
                            [placeholder]="'Describe portfolio...'"
                            [modules]="editorModules"
                            >
                            </quill-editor>
                            <div class="form-check form-switch mb-4">
                                <input class="form-check-input" type="checkbox" formControlName="status" id="flexSwitchCheckDefault" />
                                <label class="form-check-label" for="flexSwitchCheckDefault">Status : <strong>{{ createDialog.formGroup.get("status")?.value ? "Active" : "Inactive" }}</strong></label>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="mx-3 mb-3 d-flex justify-content-between">
        <div>
            <div class="spinner-border text-primary" role="status" *ngIf="deleteDialog.isDeleting && loading.status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-danger" (click)="createDialog.close()" [attr.disabled]="loading.status ? 'disabled' : null">Cancel</button>
            &nbsp;
            <button type="submit" class="btn btn-primary"  [attr.disabled]="loading.status ? 'disabled' : null">Submit</button>
        </div>
    </div>
</div>
</form>
</ng-template>


<ng-template #detailModal let-modal>
    <div class="col-md-12">
    <div class="modal-header">
        <h5 class="modal-title">Detail Portfolio</h5>
    </div>
    <div class="modal-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs mb-4">
            <li ngbNavItem>
                <a ngbNavLink>Image</a>
                <ng-template ngbNavContent style="height: fit-content;">
                    <input type="file" class="d-none" id="uploadImage"  accept="image/jpg,image/jpeg,image/png" (change)="uploadPhoto($event)">
                    <div class="d-flex flex-wrap justify-content-start">
                        <div *ngFor="let p of detailDialog.data.images; index as x" >
                            <div (click)="photoDialog.show(p,true)" class="me-2 mb-2 rounded border position-relative" style="height: 117px; width: 117px; background-position: center; background-size: cover" [style.background-image]="'url(' + assetUrl + p.photo + ')'">
                                <div *ngIf="p.loading" class="w-100 h-100 d-flex justify-content-center align-items-center" style="background: rgba(255, 255, 255, 0.5)">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Description</a>
                <ng-template ngbNavContent>
                    <div class="form-floating mb-4">
                        <input disabled type="text" placeholder="..." class="form-control" [value]="detailDialog.data.name">
                        <label>Name</label>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-4 col-6">
                            <input disabled type="section" placeholder="..." class="form-control px-3" [value]="detailDialog.data.section">
                            <label class="mx-3">Section</label>
                        </div>
                        <div class="form-floating mb-4 col-6">
                            <input disabled type="number" placeholder="..." class="form-control px-3" [value]="detailDialog.data.order">
                            <label class="mx-3">Order</label>
                        </div>
                    </div>
                    <div #editorContainer class="editor-container"></div>
                    <div>
                        <H5>Description</H5>
                        <div [innerHTML]="detailDialog.data.description"></div>
                    </div>
                </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="mx-3 mb-3 d-flex justify-content-between">
        <div>
            <div class="spinner-border text-primary" role="status" *ngIf="deleteDialog.isDeleting && loading.status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-danger" (click)="modal.close()" [attr.disabled]="loading.status ? 'disabled' : null">Cancel</button>
        </div>
    </div>
</div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
    </div>
    <div class="modal-body">Are you sure want to delete this data?</div>
    <div class="modal-footer d-flex justify-content-between">
        <div>
            <div class="spinner-border text-primary" role="status" *ngIf="deleteDialog.isDeleting && loading.status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary" (click)="modal.close()" [attr.disabled]="loading.status ? 'disabled' : null">Cancel</button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteDialog.submit()" [attr.disabled]="loading.status ? 'disabled' : null">Delete</button>
        </div>
    </div>
</ng-template>

<ng-template #photoModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Asset Photo</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 text-center">
                <img [src]="photoDialog.data" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <div>
            &nbsp;
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-secondary" (click)="modal.close()" [attr.disabled]="loading.status ? 'disabled' : null">Close</button>
        </div>
    </div>
</ng-template>

